* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: "Roboto Condensed";
    font-size: 16px;
}

main > h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 1rem 0;
}

main > canvas {
    display: block;
    margin: 1rem auto;
}
